main {
  grid-row: main;
  display: grid;
  grid-template-rows: repeat(8, min-content);
  grid-template-columns: auto;
  grid-row-gap: 10px;
  grid-column-gap: 0px;
  justify-self: center;
}

.experience {
  display: grid;
  width: 100%;
  min-width: 68em;
  grid-template-columns: minmax(10em, min-content) auto auto;
  grid-template-rows: 3em 2em min-content;
  grid-gap: 0;
  color: darkgrey;
  white-space: nowrap;
}

.experience:hover {
  background-color: rgba(50, 50, 50, 0.8);
  transition: 0.5s;
}

.experience .company {
  grid-column: 1;
  grid-row: 1;
  padding-left: 5px;
}

.experience .company a {
  color: white;
  text-decoration: none;
}

.experience .company a:hover {
  color: darkred;
  transition: 0.5s;
}

.experience .location {
  grid-column: 2;
  grid-row: 1;
  justify-self: start;
  padding-left: 4px;
  line-height: 2.6;
  font-style: italic;
}

.experience .title {
  grid-column: 1 / span 2;
  grid-row: 2;
  justify-self: start;
  padding-left: 20px;

}

.experience .dates {
  grid-column: 3;
  grid-row: 1;
  justify-self: end;
  padding-right: 10px;
}

.experience .duties {
  grid-column: 1 / span 3;
  grid-row: 3;
  justify-self: start;
  text-align:left;
  list-style: none;
}