body{
  background-color: black;
  color:white;
  text-align: center;
  font-family: sans-serif;
  padding-top: 133px;
}

#top{
  left: 50%;
  transform: translateX(-50%);
  top:0px;
  width: 75%;
  position: fixed;
  background-color: #050505;
}

#back{
  left: 50%;
  transform: translateX(-50%);
  top:0px;
  width: 75%;
  position: fixed;
  background-color: #050505;
  height: 100vh;
  z-index: -1;
}

nav{
  display: flex;
  justify-content: space-around;
  border-top: solid 1px darkred;
  border-bottom: solid 1px darkred;
  padding: 5px 0px 5px 0px;
  flex-direction: row;
}

nav a{
  text-decoration: none;
  color: white;
  list-style: none;
}

#active{
  color: darkred;
}

#nav a:hover{
  color: red;
  transition: 0.5s;
}

header h1{
  margin-top: 10px;
  color: darkred;
  font-size: 44px;
}

header h4{
  font-size: 25px;
  margin-top: -30px;
  margin-bottom: 20px;
}

main{
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

#post{
  width: 100%;
  height: 200vh;
  color: white;
}
